@screen xsm{
  .customize {
    z-index: 1;
    @apply fixed inline py-4;
    top: 88%;
    right: calc(50vw - (52.5px + 3rem));
    button {
      @apply px-8;      
      img{
        height: 35px;
        width: 35px;
      }
    }
  }
}