.footer {
    @apply text-lg text-secondary bg-third p-4 mt-4;
    height: 35vh;
    position: relative;
    overflow-x: hidden;
    & .subscribe{
        @apply pt-2;
        h1{
            @apply text-center;
        }
    }
    & .middle{
        margin: auto;
        border-top: 2px solid;
        @apply px-2 mt-1;
        legend{
            @apply px-2;
            font-size: 0.8em;
        }
        ul{
            justify-content:center;
            align-items:center;
            display: flex;  
            flex-wrap: wrap;
            li{
                display: inline;
                @apply px-4;
            }
        }
    }
    & .rights{
        p{
           font: 10px sans-serif;
           bottom: 5px; 
           width:100%; 
           position: absolute;
           text-align: center;
        }
    }
}     
