@screen xsm{
    .footer {
        display: grid;
        bottom: 0;
        height: 30vh;
        position: relative;
        @apply bg-third;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "subscribe subscribe subscribe subscribe subscribe subscribe subscribe subscribe" "middle middle middle middle middle middle middle middle" "middle middle middle middle middle middle middle middle" "rights rights rights rights rights rights rights rights";
        & .subscribe {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-area: subscribe;
            & .subtitle {
                grid-area: 2 / 2 / 3 / 6;
            }
            input {
                grid-area: 3 / 2 / 5 / 6;
            }
              
            button {
                grid-area: 3 / 5 / 5 / 6;
            }
        }
        & .middle {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . . . ." ". contact contact h1 h1 ." ". contact contact h1 h1 ." ". contact contact h1 h1 ." ". contact contact h1 h1 ." ". . . . . .";
            grid-area: middle;
            & .contact {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: "title title title title" ". github medium ." ". linkedin . ." ". . . .";
                grid-area: contact;
                & .title {
                    grid-area: title;
                }
                & .github {
                    grid-area: github;
                }
                & .medium {
                    grid-area: medium;
                } 
                & .linkedin {
                    grid-area: linkedin;
                }

            }
            h1 {
                grid-area: h1;
            }
        }
        & .rights {
            width: 100vw;
            grid-area: rights;
        } 
    }     
}