.introduction{
    @apply text-center text-2xl px-6 py-4 leading-7 tracking-widest;
    span, h1{
      @apply font-mono font-bold text-third leading-9;
    }
    h1{
      @apply text-3xl py-4 text-secondary;
      margin:0 auto;
    }
}
.WhatIUse{
  ul{
    justify-content:center;
    align-items:center;
    display: flex;  
    flex-wrap: wrap;
    li{
      @apply bg-secondary inline font-mono text-primary text-xl p-2 m-1 rounded-xl;
    }
  }
}