/* purgecss start ignore */

@tailwind base;

:root {
  --primary:  #fcf4ec;
  --secondary: #6c844c;
  --third:#646464;
  --inverse: #fcc4cc;
  --font-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --font-sans: 'Verdana', sans-serif;
  & .arabic {
  }
  & .dark {
    --primary: #03004C;
    --secondary: #6A1497;
    --third: #E61D6D;
    --inverse: #7C54E1;
  }
}

.minimalist {
  --third: #7a7c81;
  --inverse: transparent;
  --primary: #fefefe;
  --secondary: #0f0f0f;
  &.dark {
    --primary: #0f0f0f;
    --secondary: #fefefe;
  }
  &.arabic {
  }
  @apply font-sans;
}

.skip-link{
  position: absolute;
  top: -40px;
  left: 0;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
  &:focus{
    top: 0;
  }
}

@screen xsm{
  .minimalist{
    main{
      @apply bg-primary text-secondary;
    }
  }
}

@tailwind components;
@tailwind utilities;
/* purgecss end ignore */
