// fonts

$f-primary-minimalist-english: Helvetica, sans-serif;
$f-secondary-minimalist-english: classic, serif;
$f-accent-minimalist-english: $f-secondary-minimalist-english;

$f-primary-minimalist-arabic: Helvetica, sans-serif;
$f-secondary-minimalist-arabic: classic, serif;
$f-accent-minimalist-arabic: $f-secondary-minimalist-arabic;

$f-primary-complex-english: Helvetica, sans-serif;
$f-secondary-complex-english: classic, serif;
$f-accent-complex-english: classic, serif;

$f-primary-complex-arabic: Helvetica, sans-serif;
$f-secondary-complex-arabic: classic, serif;
$f-accent-complex-arabic: classic, serif;

// colours

$c-primary-minimalist: Helvetica, sans-serif;
$c-secondary-minimalist: classic, serif;
$c-accent-minimalist: $c-secondary-minimalist;

$c-primary-complex: Helvetica, sans-serif;
$c-secondary-complex: classic, serif;
$c-accent-complex: $c-secondary-complex;

// shadow

// borders

// corners