/* purgecss start ignore */

@tailwind base;

:root {
  --primary:  #fcf4ec;
  --secondary: #6c844c;
  --third:#646464;
  --inverse: #fcc4cc;
  --font-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --font-sans: 'Verdana', sans-serif;
  & .arabic {
  }
  & .dark {
    --primary: #03004C;
    --secondary: #6A1497;
    --third: #E61D6D;
    --inverse: #7C54E1;
  }
}

.minimalist {
  --third: #7a7c81;
  --inverse: transparent;
  --primary: #fefefe;
  --secondary: #0f0f0f;
  &.dark {
    --primary: #0f0f0f;
    --secondary: #fefefe;
  }
  &.arabic {
  }
  @apply font-sans;
}

.skip-link{
  position: absolute;
  top: -40px;
  left: 0;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
  &:focus{
    top: 0;
  }
}

@screen xsm{

  .minimalist{
    main{
      @apply bg-primary text-secondary;
      #customize {
        @apply inline fixed py-4;
        top: 88%;
        right: calc(50vw - (52.2px + 3rem));
        button {
          @apply px-4;
          span img[style]{
            @apply mx-3;
            width: 35px !important;
            height: 35px !important;
          }
        }
      }


      & .pageContent{
        & .introduction{
          @apply text-3xl px-6 py-6 leading-7 tracking-widest;
          span{
            @apply text-2xl font-mono font-bold text-third leading-9;
            &.stayTuned{
              @apply block text-2xl text-center py-3 text-third;
            }
          }
        }
        h1{
          @apply text-secondary text-4xl font-bold text-center;
        }
        hr{
          @apply bg-secondary h-1 text-center mt-2 mb-2 m-auto;
          width: 45%;
        }
        ul{
          li{
            @apply block font-mono text-center text-third text-2xl py-1;
          }
        }
      }
    }
    
    footer{
      @apply p-3 left-0 bottom-0 flex flex-wrap -mx-1 overflow-hidden bg-third text-primary text-center;
      & .subscibe{
        @apply my-1 px-1 w-full overflow-hidden text-center;
      }
      & .contact{
        @apply my-1 px-1 w-full overflow-hidden;
      }
      & .rights{
        @apply my-1 px-1 w-full overflow-hidden flex flex-wrap -mx-1 overflow-hidden;
        h1{
          @apply my-1 px-1 w-1/2 overflow-hidden;
        }
        p{
          @apply my-1 px-1 w-1/2 overflow-hidden;
        }
      }
      
    }
  }
}

@tailwind components;
@tailwind utilities;
/* purgecss end ignore */
