@import "global-variables.scss";

.minimalist{
    
    &.english{
        $font-primary: Helvetica, sans-serif;
        $font-titles: classic, serif;
    }

    &.arabic{

    }

    &.dark{

    }
    &.light{
        
    }
}

.complex{

    &.english{
        $font-primary: Helvetica, sans-serif;
        $font-titles: classic, serif;
    }

    &.arabic{
        
    }

    &.dark{

    }
    &.light{
        
    }
}